[Unit]
Description=Archive weatherindex.ai data
After=network-online.target

[Service]
Type=oneshot
ExecStart=@PROJECT_DIR@/systemd/archive-and-commit.sh @SENSORS@
